  @media (max-width: 1099px) {
    .nav {
      display: none;
    }

    .burgerNav {
      display: block;
    }
  }

  @media (min-width: 1100px) {
    .nav {
      display: block;
    }

    .burgerNav {
      display: none;
    }
  }