@keyframes slideInFromRight {
    0% {
      opacity: 0;
      transform: translateX(100px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  .contactForm {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 48px 77px 18px 88px;
    width: 100%;
    min-height: 644px;
  }
  
  .row {
    display: flex;
    gap: 75px;
  }
  
  .inputGroup,
  .textareaGroup,
  .submit {
    opacity: 0;
  }
  
  .inputGroup {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
  }
  
  .textareaGroup {
    display: flex;
    flex-direction: column;
    margin-top: 32px;
    flex: 1;
  }
  
  .inputGroup label,
  .textareaGroup label {
    color: #8d8d8d;
    font-family: var(--font-noto-sans-georgian);
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
  }
  
  .textareaGroup label {
    margin-bottom: 8px;
  }
  
  .inputGroup input {
    border-radius: 12px;
    border: 1px solid #eee;
    background: #f9f9f9;
    padding: 20px 14px;
    width: 100%;
  }
  
  .textareaGroup textarea {
    border-radius: 12px;
    border: 1px solid #eee;
    background: #f9f9f9;
    padding: 16px;
    font-family: var(--font-noto-sans-georgian);
    font-size: 12px;
    font-weight: 500;
    line-height: 20px;
    resize: none;
    flex: 1;
  }
  
  .textareaGroup textarea::placeholder {
    color: #bfbfbf;
  }
  
  .submit {
    align-self: flex-end;
    border-radius: 12px;
    background: #0d92f2;
    color: #fff;
    font-family: var(--font-noto-sans-georgian);
    font-size: 18px;
    font-weight: 500;
    line-height: 20px;
    padding: 16px 64px;
    border: none;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .submit:hover {
    background: #055e9f;
  }
  
  .animate {
    animation: slideInFromRight 0.6s forwards;
  }
  
  /* Responsive */
  @media (max-width: 1300px) {
    .contactForm {
      padding: 48px 24px 18px 24px;
    }
  }
  
  @media (max-width: 1100px) {
    .contactForm {
      gap: 12px;
      padding: 0px 24px 18px 24px;
    }
    .row {
      flex-direction: column;
      gap: 12px;
    }
    .contactForm > :nth-child(2) > :nth-child(2) {
      display: none;
    }
  }
  
  @media (max-width: 768px) {
    .contactForm {
      min-height: 474px;
    }
    .textareaGroup {
      margin-top: 0px;
    }
  }
  
  @media (max-width: 660px) {
    .submit {
      margin-top: 4px;
    }
  }
  
  @media (max-width: 450px) {
    .submit {
      width: 100%;
    }
  }
  