.wrapper {
    display: flex; 
    justify-content: space-between;
    align-items: center;
    gap: 16px;
}
.rowReverse {
    flex-direction: row-reverse;
}
.titles {
    max-width: 685px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.titles h3 {
    color: #000;
    font-family: var(--font-noto-sans-georgian);
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: 68px; 
    text-transform: uppercase;
}
.titles p {
    color:#464C53;
    font-family: var(--font-noto-sans-georgian);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
}
.image {
    border-radius: 48px;
    background: rgba(13, 146, 242, 0.10);
}
.buttons {
    display: flex;
    align-items: center;
    gap: 24px;
}

.joinUs {
    max-width: 246px;
    flex: 1 1 0; 
    height: 56px;
}

.more {
    max-width: 235px;
    height: 56px;
    flex: 1 1.1 0; 
}

@media (max-width: 1265px) {
    .titles {
        max-width: 500px;
        width: 100%;
        text-align: center;
    }
}

@media (max-width: 1200px) {
    .image {
        width: 466px;
        height: 436px;
    }
    .titles h3 {
        font-size: 36px;
        font-weight: 800;
        line-height: 56px; 
    }
}

@media (max-width: 1024px) {
    .image {
        width: 366px;
        height: 336px;
    }
}

@media (max-width: 768px) {
    .titles{
        gap: 16px;
    }
    .image {
        width: 336px;
        height: 336px;
    }
    .titles h3 {
        font-size: 18px;
        font-weight: 800;
        line-height: 32px; 
    }
    .titles p {
        font-size: 14px;
    }
}

@media (max-width: 700px) {
    .wrapper {
        flex-direction: column;
    }
}