@keyframes slide {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
}

.wrapper {
    position: relative;
    max-width: 1440px;
    width: 100%;
    overflow: hidden;
    display: flex;
    margin-top: 80px;
}

.wrapper::before,
.wrapper::after {
    position: absolute;
    top: 0;
    width: 350px;
    height: 100%;
    content: "";
    z-index: 2;
}

.wrapper::before {
    left: 0;
    background: linear-gradient(90deg, white 0%, white 59.5%, rgba(255, 255, 255, 0.00) 100%);
}

.wrapper::after {
    right: 0;
    background: linear-gradient(270deg, white 0%, white 59.5%, rgba(255, 255, 255, 0) 100%);
}

.bankCardsWrapper {
    display: flex;
    align-items: center;
    animation: slide 129s linear infinite;
    will-change: transform;
}

.wrapper:hover .bankCardsWrapper {
    animation-play-state: paused;
}

.bankCardItem {
    display: flex;
    align-items: center;
    gap: 16px;
}

.bankCardItem img {
    margin-left: 62px;
}

.bankCardItem p {
    color: #000;
    font-family: var(--font-noto-sans-georgian);
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    white-space: nowrap;

}