@keyframes slideDown {
    0% {
      transform: translateY(-100%);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  
  

.background {
    position: fixed;
    left: 0;
    top: 0;
    background-color: white;
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 5;
    animation: slideDown 0.7s ease-out forwards;
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1456px;
    width: 100%;
    padding: 22px 16px;
    gap: 16px;
}

.navWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px,
}

.navList {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.navLink {
    color: #9194A1;
    font-family: var(--font-noto-sans-georgian);
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 40px;
    white-space: nowrap;
    display: inline-block;
    transition: 0.2s;
    &:hover {
        color: #0D92F2;
    }
}

.navButton {
    width: 161px;
    height: 45px;
}

@media (max-width: 1200px) {
    .navWrapper {
        gap: 30px;
    }
    .navList {
        gap: 20px;
    }
    .navButton {
        width: 130px;
    }
}

  