.background {
    border-radius: 48px;
    background: #0D92F2;
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 200px 0px;
    background-image: url('/lines.png');
    background-position: center;     
}

.wrapper {
    max-width: 1456px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 90px;
    padding: 142px 16px 0px 16px;
}
.wrapper > h2 {
    color: #FFF;
    text-align: center;
    font-family: var(--font-noto-sans-georgian);
    font-size: 56px;
    font-style: normal;
    font-weight: 800;
    line-height: 80px;
    text-transform: uppercase;
}
.content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.contentItem {
    display: flex;
    flex-direction: column;
    gap: 16px;
    flex: 1 1 1;
}
.contentItem h3 {
    color: #EDEFF3;
    font-family: var(--font-noto-sans-georgian);
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: 40px;
    text-transform: uppercase;
}
.contentItem p {
    color: #FFF;
    font-family: var(--font-noto-sans-georgian);
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px; 
    letter-spacing: 0.2px;
    max-width: 570px;
}
.downloadIcons {
    display: flex;
    gap: 24px;
    margin-top: 30px;
    align-items: center;
}
.image {
    max-width: 786px;
    width: 100%;
    height: auto;
    aspect-ratio: 786 / 600;
    object-fit: cover;
    flex: 1 1 1;
    align-self: flex-end;
}
@media (max-width: 1200px) {
    .wrapper {
        padding: 56px 16px 0px 16px;
    }
}
@media (max-width: 1024px) {
    .background {
        margin: 60px 0px;
    }
    .wrapper {
        padding: 56px 32px 0px 32px;
        gap: 50px;
    }
    .wrapper h2 {
        font-size: 32px;
        line-height: 32px;
        text-align: start;
    }
    .contentItem {
        margin-bottom: 60px;
    }
    .contentItem h3 {
        font-size: 28px;
    }
    .contentItem p {
        font-size: 20px;
    }
    .outSpace {
        padding: 0px 40px;
    }
}

@media (max-width: 768px) {
    .content {
        flex-direction: column;
    }
    .image{
        height: 210px;
        width: 320px;
        align-self: center;
    }
    .contentItem {
        margin-bottom: 40px;
        align-items: start;
    }
    .contentItem p {
        max-width: none;
    }
    .downloadIcons {
        align-self: center;
    }
}

@media (max-width: 600px) {
    .outSpace {
        padding: 0px 16px;
    }
    .background {
        border-radius: 12px;
    }
    .wrapper {
        gap: 16px;
        padding: 16px 16px 0px 16px;
    }
    .contentItem {
        align-items: start;
        gap: 0px;
    }
    .wrapper > h2 {
        font-size: 18px;
        line-height: 24px;
        text-align: center;
    }
    .contentItem h3 {
        font-size: 16px;
        line-height: 40px;
    }
    .contentItem p {
        font-size: 14px;
        line-height: 24px; 
        text-align: start;
    }
}