@keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes slideUp {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.wrapper {
  position: relative;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding-bottom: 200px;
  justify-content: center;
  align-items: center;
  gap: 120px;
  scroll-margin-top: 100px;
}

.wrapper > h2 {
  color: #000;
  text-align: center;
  font-family: var(--font-noto-sans-georgian);
  font-size: 56px;
  font-style: normal;
  font-weight: 800;
  line-height: 80px;
  text-transform: uppercase;
}

.commentsWrapper {
  position: relative;
  display: flex;
  gap: 20px;
}

.comments {
  display: flex;
  align-items: center;
  animation: slide 200s linear infinite;
  will-change: transform;
}

.commentsWrapper:hover .comments {
  animation-play-state: paused;
}

.opacityHidden {
  opacity: 0;
  transform: translateY(100px);
}

.animateUp {
  animation: slideUp 0.8s ease-out forwards;
}
.commentsAnimateUp {
  opacity: 0;
  animation: slideUp 0.8s ease-out forwards;
  animation-delay: 0.2s;
}

@media (max-width: 1024px) {
  .wrapper h2 {
    font-size: 32px;
    line-height: 32px;
  }
  .wrapper {
    gap: 40px;
    padding: 0px 0px 60px 0px;
  }
}

@media (max-width: 600px) {
  .wrapper h2 {
    font-size: 24px;
    line-height: 30px;
  }
}
