.serviceWrapper {
    max-width: 1456px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 120;
    padding: 0px 16px;
    margin: 85px 0px 200px 0px;
    scroll-margin-top: 100px;
}
.serviceTitles {
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: center;
    align-items: center;
}
.serviceTitles h2 {
    color: #000;
    font-family: var(--font-noto-sans-georgian);
    font-size: 56px;
    font-style: normal;
    font-weight: 800;
    line-height: 80px;
    text-transform: uppercase;
}
.serviceTitles p {
    color: #9194A1;
    font-family: var(--font-noto-sans-georgian);
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 18px;
}

@media (max-width: 1256px) {
    .serviceWrapper{
        gap: 40px;
        margin: 60px 0px;
    }
}

@media (max-width: 1024px) {
    .serviceTitles h2 {
        font-size: 32px;
        line-height: 32px;
    }
}

@media (max-width: 600px) {
    .serviceTitles h2 {
        font-size: 24px;
        line-height: 30px;
    }
    .serviceTitles p {
        font-size: 14px;
    }
}