.serviceWrapper {
    max-width: 1440px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 120;
    margin: 85px 0px 200px 0px;
}
.serviceTitles {
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: center;
    align-items: center;
}
.serviceTitles h2 {
    color: #000;
    font-family: var(--font-noto-sans-georgian);
    font-size: 56px;
    font-style: normal;
    font-weight: 800;
    line-height: 80px;
    text-transform: uppercase;
}
.serviceTitles p {
    color: #9194A1;
    font-family: var(--font-noto-sans-georgian);
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 18px;
}