.wrapper {
    display: flex;
    flex-direction: column;
    gap: 120px;
    max-width: 1440px;
    width: 100%;
    align-items: center;
    margin-bottom: 200px;
}

.wrapper > h2 {
    color: #000;
    text-align: center;
    font-family: var(--font-noto-sans-georgian);
    font-size: 56px;
    font-style: normal;
    font-weight: 800;
    line-height: 80px; 
    text-transform: uppercase;
}
.questions {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 40px
}