@keyframes slideUp {
    0% {
        opacity: 0;
        transform: translateY(100px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideFromRight {
    0% {
        opacity: 0;
        transform: translateX(100px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideFromLeft {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.wrapper {
    display: flex;
    flex-direction: column;
    gap: 120px;
    max-width: 1456px;
    width: 100%;
    align-items: center;
    margin-bottom: 200px;
    padding: 0px 16px;
    scroll-margin-top: 100px;
}

.wrapper>h2 {
    color: #000;
    text-align: center;
    font-family: var(--font-noto-sans-georgian);
    font-size: 56px;
    font-style: normal;
    font-weight: 800;
    line-height: 80px;
    text-transform: uppercase;
    opacity: 0;
    transform: translateY(100px);
}

.questions {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 16px
}

.questionItem {
    opacity: 0;
}

.animateTitle {
    animation: slideUp 0.8s ease forwards;
}

.animateQuestion {
    animation-duration: 0.8s;
    animation-timing-function: ease;
}

.fromRight {
    animation-name: slideFromRight;
}

.fromLeft {
    animation-name: slideFromLeft;
}

@media (max-width: 1024px) {
    .wrapper h2 {
        font-size: 32px;
        line-height: 32px;
    }

    .wrapper {
        gap: 40px;
        margin-bottom: 40px;
    }
}

@media (max-width: 600px) {
    .wrapper h2 {
        font-size: 24px;
        line-height: 30px;
    }
}